.backLink {
  margin-bottom: 1rem;
}

.projectContainer:nth-child(even) {
  background-color: var(--main-bg-color);
}

.projectContainer {
  margin: 0.5rem 0;
  padding: 0.5rem;
}

.externalLinksWrapper {
  margin-top: 1rem;
}

.projectImage {
  /* Ensure image at most takes full width, and keeps aspect ratio */
  max-width: 100%;
  height: auto;

  /* Centers image */
  display: block;
  margin: 0 auto;
}